
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by <a href="https://github.com/ElliotMonde" class="footer">Elliot Phua 2022</a></p>
  </div>
</div>
</body>
</html>
